<div id="<%= dom_id comment %>" class="comment">
  <p><%= render "users/user_inline", user: comment.commenter, image_size: 30 %></p>
  <p><%= comment.created_at %></p>

  <p><%= comment.body %></p>

  <%= turbo_frame_tag id="#{dom_id(comment)}_likes" do %>
    <%= render "likes/form", likeable: comment %>
  <% end %>
</div>