<div id="<%= dom_id notification %>">
  <p>
    <strong><%= notification.title %></strong>
  </p>

  <p>
    <%= notification.body %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= notification.status %>
  </p>

  <%= button_to "Dismiss", notification, method: :delete %>
  <% if notification.status == "unread" %>
    <%= render "mark_as_read_form", notification: %>
  <% else %>
    <%= render "mark_as_unread_form", notification: %>
  <% end %>
</div>
