<div id="<%= dom_id post %>" class="post">
  <p><%= name(post.author) %></p>
  <p><%= link_to post.created_at, post %></p>
  <p><%= post.content %></p>

  <div id="<%= dom_id post %>_comments">
    <% post.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
  <%= turbo_frame_tag id="new_comment" do %>
    <%= render "comments/new", commentable_id: post.id, commentable: post %>
  <% end %>
</div>
