<header>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <div class="header-nav-container">
        <nav class="admin-header">
          Admin:
          <%= link_to "Bulk Create Users", users_create_in_bulk_path %>
          <%= link_to "Create Single User", new_user_path %>
          <%= link_to "Create profiles for existing users",
            create_profiles_for_existing_users_path %>
        </nav>
      </div>
    <% end %>
    <div class="header-nav-container">
      <nav>
        <%= link_to "Home", authenticated_root_path %>
        <%= link_to "Friend Requests", friend_requests_path %>
        <%= link_to "Users", users_path %>
        <%= link_to "Notifications", notifications_path %>
      </nav>
      <div>
        <%= image_tag(get_gravatar_url(current_user.email, 40)) %>
        <%= link_to name(current_user), profile_path %>
        <%= link_to "Log out", destroy_user_session_path%>
      </div>
    </div>
  <% end %>
  <div class="message">
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>
  </div>
</header>